.chat-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
}

.messages {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    height: 300px;
    overflow-y: auto;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f9f9f9;
}

.message-left {
    display: flex;
    padding: 5px;
    margin-bottom: 5px;
    align-self: flex-start;
    font-size: 18px;
    background-color: rgb(147, 144, 144);
    border-radius: 5px;
    color: white;
}

.message-right {
    display: flex;
    padding: 5px;
    margin-bottom: 5px;
    align-self: flex-end;
    font-size: 18px;
    background-color: rgb(183, 224, 253);
    border-radius: 5px;
    color: black;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-self: center;
}

.chat-container button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(76, 147, 150);
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

.chat-container button:hover {
    background-color: rgb(76, 147, 150);
}

.chat-container .clear-button {
    background-color: rgb(226, 85, 85) !important;
}