.App-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(76, 147, 150);
}

.headerLeft {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.headerRight {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.headerLogo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3px;
    margin-left: 10px;
    height: max(6vmin, 40px);
    color: white;
}

.headerText {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    font-style: italic;
    margin-left: 5px;
    color: white
}

.logoutBtn {
    background-color: rgb(76, 147, 150);
    color: white;
    border: none;
    text-decoration: underline;
    font-size: 16px;
}

.logoutBtn:hover {
    font-size: 17px;
    border: none;
}

.profileImg {
    display: flex;
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 20px;
}