.mainContainer {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.titleContainer {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 360;
    align-items: center;
    justify-content: center;
}

.success-toast {
    font-size: 13px;
    display: flex;
    justify-content: flex-start;
}

.success-toast .Toastify__close-button {
    border: transparent !important;
}

.failure-toast {
    font-size: 13px;
    display: flex;
    justify-content: flex-start;
}

.failure-toast .Toastify__close-button {
    border: transparent !important;
}

.formItem {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Vertical alignment */
    align-items: flex-start;
    /* Horizontal alignment */
    padding-bottom: 12px;
    padding-left: 10px;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.appLogo {
    height: 20vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .appLogo {
        animation: appLogoSpin infinite 20s linear;
    }
}

@keyframes appLogoSpin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

button {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 80px;
    padding: 10px 0;
    transition: 0.4s;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    height: 32px;
    width: 280px;
    font-size: medium;
    border-radius: 8px;
    border: 2px solid rgb(76, 147, 150);
    background: inherit;
    margin-bottom: 5px;
}

.inputContainer .iconButton {
    height: 100%;
    width: 5%;
    border: none !important;
    background: inherit !important;
    color: rgb(76, 147, 150);
}

.inputBox {
    height: 100%;
    width: 100%;
    font-size: medium;
    border: none !important;
    background: inherit !important;
    background: inherit;
    padding-left: 8px;
    border-radius: 8px;
}

.inputBox:focus {
    outline: none;
}

.inputBoxWithButton {
    height: 100%;
    width: 95%;
    font-size: medium;
    border: none !important;
    background: inherit !important;
    background: inherit;
    padding-left: 8px;
    border-radius: 8px;
}

.inputBoxWithButton:focus {
    outline: none;
}

.login {
    color: white;
    background-color: rgb(76, 147, 150);
}

.signUp {
    color: rgb(76, 147, 150);
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgb(76, 147, 150);
}

button:hover {
    border: 1px solid rgb(76, 147, 150);
    font-size: 14px;
}

.inputLabel {
    font-size: small;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(76, 147, 150);
}

.welcomeText {
    color: rgb(76, 147, 150);
    font-size: x-large;
    font-weight: bold;
}

.errorLabel {
    color: rgb(226, 85, 85);
    font-size: x-small;
}