.formPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(76, 147, 150);
    border-radius: 20px;
    padding: 28px;
}

.formContainer {
    width: 400px;
    height: 680px;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.formField {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    /* Vertical alignment */
    align-items: flex-start;
    /* Horizontal alignment */
    padding-bottom: 10px;
    padding-top: 10px;
}

.userIcon {
    align-self: center;
    height: 10vmin;
    width: 10vmin;
    pointer-events: none;
}

.uploadFile {
    align-self: center;
    background-color: white;
    color: gray;
    margin-left: 66px;
    margin-bottom: 30px;
}

.skillRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.fieldInputMultiLine {
    height: 80px;
    width: 100%;
    font-size: medium;
    border-radius: 8px;
    border: 2px solid rgb(76, 147, 150);
    background: inherit;
    margin-bottom: 3px;
    padding-left: 5px;
}

.skillNameInput {
    width: 128px;
    height: 20px;
    font-size: small;
    border-radius: 8px;
    border: 2px solid rgb(76, 147, 150);
    padding-left: 5px;
    background: inherit;
    margin-right: 8px;
}

.skillRateInput {
    width: 28px;
    height: 20px;
    border-radius: 8px;
    padding-left: 5px;
    border: 2px solid rgb(76, 147, 150);
    background: inherit;
}

.formContainer .iconButton {
    height: auto;
    width: auto;
    border: none !important;
    background: inherit !important;
    position: relative;
    left: 25px;
}

.addSkillIcon {
    height: 1.7rem;
    width: 1.7rem;
    color: rgb(76, 147, 150);
}

.removeSkillIcon {
    height: 1.7rem;
    width: 1.7rem;
    color: gray;
}

.skillError {
    margin-left: 35px;
    color: rgb(226, 85, 85);
    font-size: 10px;
}

.fieldLabel {
    font-size: medium;
    font-weight: bold;
    justify-self: start;
    margin-bottom: 5px;
    color: rgb(76, 147, 150);
}

.subFieldLabel {
    font-weight: bold;
    font-size: 11px;
    margin-right: 5px;
    color: rgb(76, 147, 150);
}

.profileButtons {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: row;
}

.save {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 80px;
    height: 40px;
    font-size: 13px;
    text-align: center;
    background-color: rgb(76, 147, 150);
}

.skip {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(76, 147, 150);
    width: 80px;
    height: 40px;
    font-size: 13px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgb(76, 147, 150);
}

.profile-list-container {
    display: flex;
    width: 1000px;
    flex-wrap: wrap;
    margin: 20px;
    align-items: center;
    justify-content: center;
}

.profile-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.profile-card {
    background-color: white;
    height: 150px;
    width: 270px;
    border-radius: 8px;
    border: 1px solid rgb(76, 147, 150);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
    overflow-y: auto;
}

.profile-card:hover {
    height: 152px;
    width: 272px;
    border: 2px solid rgb(76, 147, 150);
    box-shadow: 0 4px 8px #ddd;
}

.profile-left {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    overflow: hidden;
    background-color: white;
}

.profile-img {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-rate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(76, 147, 150);
}

.profile-right {
    flex: 1;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 40px;
}

.profile-name {
    display: flex;
    justify-self: flex-start;
    font-size: 1.0rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.profile-description {
    display: flex;
    justify-self: flex-start;
    text-align: left;
    color: #666;
    font-size: 0.8rem;
}

.profile-card-label {
    display: flex;
    font-size: 0.8rem;
    margin-top: 10px;
    justify-content: flex-start;
}

.profile-skill-name {
    display: flex;
    font-size: 0.6rem;
    justify-content: flex-start;
}

.profile-needs {
    display: flex;
    font-size: 0.6rem;
    justify-content: flex-start;
}